<div class="container">
  <table class="table">
    <h2>Results</h2>      
      <thead>
        <tr>
          <th>id</th>
          <th>subject</th>
        </tr>
      </thead>
      <tbody>
      <%@tickets.each do |ticket|%>
      <tr>
        <td><%= ticket["id"]%></td>
        <td><a href='/ticket/<%= ticket["id"]%>'><%= ticket["subject"]%></a></td>
      <%end%>
      </tr>
      </tbody>
  </table>
</div>

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">&raquo;</a>
</div>