<div class="container">
  <table class="table">
    <h2>Results</h2>
      <thead>
        <tr>
          <th>Total tickets: <%=@ticket_count%></th>
        </tr>
        <tr>
          <th>id</th>
          <th>subject</th>
        </tr>
      </thead>
      <tbody>
      <%@tickets.each do |ticket|%>
      <tr>
        <td><%= ticket["id"]%></td>
        <td><a href='/ticket/<%= ticket["id"]%>'><%= ticket["subject"]%></a></td>
      <%end%>
      </tr>
      </tbody>
  </table>
</div>

<div class="container">
  <ul class="pagination">
    <li><a href="<%%>">1</a></li>
    <li><a href="<%%>">2</a></li>
    <li><a href="<%%>">3</a></li>
    <li><a href="<%%>">4</a></li>
    <li><a href="<%%>">5</a></li>
  </ul>
</div>
