
 <div class="container">
  <table class="table">    
      <tbody>
        <tr>
          <th>Ticket ID</th>
          <td><%= @ticket_id %></td>
        </tr>
        <tr>  
          <th>Date Created</th>
          <td><%= @date_created %></td>
        </tr>
        <tr>
          <th>Requester ID</th>
          <td><%= @requester_id %></td>
        </tr>
        <tr>
          <th>Ticket Description</th>
          <td><%= @ticket_description %></td>
        </tr>
      </tbody>
  </table>
<a href="/">Back to all tickets</a>
</div>
