
 <div class="container">
  <table class="table">    
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Date Created</th>
          <th>Requester ID</th>
          <th>Ticket Description</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @ticket_id %></td>
        <td><%= @date_created %></td>
        <td><%= @requester_id %></td>
        <td><%= @ticket_description %></td>
      </tr>
      </tbody>
  </table>
</div>

<a href="/">Back to all tickets</a>